.Connected{
	text-align: center;
	margin-top: 100px;
	color: #fff;
}

.Logout{
	text-align: center;
	color: #fff;	    
    margin-top: 50px;
    text-decoration: #fff;
    
}
.Logout a{
    color: #fff;
    text-decoration: #fff;
}